<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<p><h4> Hi AJACKUS Team,</h4><p>
	
		  <%= @args["email_contents"] %>
		<br>
		<p>Regards</p>
		<%= "#{@visitor.first_name + " "+ @visitor.last_name}" %>
		<p><%= @visitor.phone %></p>
	</body>
</html>